
/*To hide the Help dropdown button */
.navbar-right .dropdown-help {
	display:none}
/*End hide Help dropdown button */

li.dropdown.dropdown-energy-points.dropdown-mobile {
  display: none !important;
}
.app-logo {
  width: 35px !important;
  margin-top: -7px !important;    
}
.text-primary {
  color: #022152;
}
a.text-primary:hover {
  color: #1b3763;
}
.text-info {
  color: #83a3d0;
}
a.text-info:hover {
  color: #1b3763;
}
.bg-primary {
  color: #fff;
  background-color: #022152;
}
a.bg-primary:hover {
  background-color: #1b3763;
}
.btn-primary {
  color: #fff;
  background-color: #022152;
  border-color: #021e4a;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #1b3763;
  border-color: #354d75;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #4e6486;
  border-color: #354d75;
}
.btn-primary .badge {
  color: #022152;
  background-color: #fff;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #022152;
  border-color: #021e4a;
}
.panel-primary {
  border-color: #022152;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #022152;
  border-color: #021e4a;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #022152;
}
.panel-primary > .panel-heading .badge {
  color: #022152;
  background-color: #fff;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #022152;
}
.link-primary {
  color: #022152;
}
.link-primary:hover,
.link-primary:focus {
  color: #1b3763;
}
.help-modal a {
  color: #022152;
}
.slides-wrapper .fa-circle.active {
  color: #022152;
}
.indicator.blue::before,
.indicator-right.blue::after {
  background: #022152;
}
.indicator.orange::before,
.indicator-right.orange::after {
  background: #d9ac2a;
}
.setup-wizard-slide .fa-fw.active {
  color: #022152;
}
.setup-wizard-slide .progress-bar {
  background-color: #022152;
}
.tree-link.active i {
  color: #022152;
}
.help-message-wrapper .help-progress-bar {
  display: inline-block;
  height: 4px;
  background-color: #022152;
  float: left;
  border-radius: 2px;
}
.datepicker--cell.-current- {
  color: #022152;
}
.datepicker--cell.-current-.-in-range- {
  color: #022152;
}
.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
  border: 1px solid rgba(102, 142, 198, 0.3);
  background: rgba(102, 142, 198, 0.1);
}
.datepicker--cell.-selected-,
.datepicker--cell.-current-.-selected- {
  background: #022152;
}
.datepicker--cell.-in-range- {
  background: rgba(102, 142, 198, 0.05);
}
.datepicker--cell.-in-range-.-focus- {
  background: rgba(102, 142, 198, 0.1);
}
.datepicker--cell.-selected-.-focus- {
  background: rgba(102, 142, 198, 0.9);
}
.datepicker--time-row {
  background-image: linear-gradient(to right, #d1d8dd, #d1d8dd);
  background-repeat: no-repeat;
  background-size: 100% 1px;
  background-position: left 50%;
}
.datepicker--time-row:first-child {
  margin: 0;
}
.datepicker--button {
  color: #022152;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #dedfff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(102, 142, 198, 0.5);
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #022152;
}
