.onboard-spotlight .link-content {
	font-weight:500 !important}
.app-logo {
	width: 35px !important;
  	margin-top: -5px !important;}
.footer-powered{
	font-size:90% !important}
.form-footer, .form-footer a, .form-footer h6{
	font-size:14px;font-weight:normal}
a:hover, a:focus {
	color: #2a60b3;
	text-decoration: none !important;
}
a.text-primary:hover {
	color: #2a60b3}
.text-primary {
	color: #21529e}
small, .small {
	font-size: 100%;}
.section-box {
	border: 1px solid #eaeaea;
	border-radius: 4px !important;
	background-color:#ffffff;}
.section-box h4 {
	color:#022152}
a {
	color: #6f6f6f;}
h1, .h1 {
	font-size: 20px;}
h4, .h4 {
	font-size: 15px}
.page-head {
	border-bottom: 1px solid #eee;}
@media (min-width: 768px) {
.navbar-nav {
	padding-top: 3px;}}
.module-box {
	border: 1px solid #eaeaea !important;
        border-radius: 4px !important;
	padding: 8px 15px}
.module-box:hover{
	border: 1px solid #e0e0e0 !important}
h6.uppercase, .h6.uppercase {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0px;}
.btn-primary {
	background-color: #022152;
	border-color: #022152;}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-color: #274b82;
	border-color: #274b82;}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
	background-color: #274b82;
	border-color: #274b82; }
.btn-primary:focus, .btn-primary.focus {
	box-shadow: 0 0 0 0.1rem rgba(74, 120, 247, 0.16);}
.btn-login{
	padding:8px}
.btn:hover{
	color:#e7e7e7}
.layout-side-section {
	font-size: 14px;}
.list-sidebar .list-sidebar-label {
	color: #022152;
	font-size: 12px;
	font-weight: 600;}
.dropdown-menu {
	font-size: 14px;}
.layout-main-section {
	border: 1px solid #efefef;}
.active-tag-filters {
	overflow: auto;}
.filter-list .tag-filters-area {
	border: none;
	background-color: #ffffff;}
.page-form {
	border-bottom: 1px solid #efefef;}
.list-row-head {
	border-bottom: 1px solid #efefef !important;}
.dropdown-menu > li > a {
	font-weight: 500;
	color: #666;}
.navbar a {
	font-size: 13px;
	font-weight:500}
.page-card {
	height: 275px;
	padding: 25px !important;
 	border: 1px solid #ececec !important;
	box-shadow: none !important;
	border-radius: 4px !important}
.page-card .page-card-head {
	border-bottom:none !important}
.page-card .page-card-head .indicator {
 	color: #022152 !important;
	font-size: 15px !important;}
.indicator, .indicator-right{
	font-weight:500;font-size:13px;}
.indicator.blue::before,
.indicator-right.blue::after {
	background: #022152;}
.indicator.orange::before,
.indicator-right.orange::after {
	background: #d9ac2a;}
.modal-content{
	border-radius: 4px !important;
	box-shadow:none !important;
	-webkit-box-shadow: none !important;
	border: 1px solid #eaeaea;}
.control-label, .grid-heading-row{
	font-size:14px}
.btn-sm, .btn-group-sm > .btn {
	font-size:13px}
.modal-backdrop {
	background-color:#f8f8f8!important;}
.form-signin .form-control {
	padding:8px 6px !important;
	margin:20px 0px 15px;
	border-radius: 4px;
	border:1px solid #ececec}
.form-control:focus {
	box-shadow: 0 0 0 0.05rem rgba(33, 82, 158, 0.62) !important;}

/*To hide the Help dropdown button */
.navbar-right .dropdown-help {
	display:none}
/*End hide Help dropdown button */

.ellipsis{
	font-weight:500}
.list-row-head{
	color: #022152 !important}
.form-dashboard {
	background-color: #ffffff !important}
.layout-main-section{
	background-color: #ffffff !important}
.form-documents h6 {
	font-size: 14px;
	color: #022152}
.fc-day-number{
	background-color: #022152
}
.tree-link.active i {
    color: #022152;
}