/* Bootstrap.css */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
}

.onboard-spotlight .link-content {
  font-weight: 500 !important
}

.app-logo {
  width: 35px !important;
  margin-top: -5px !important;
}

/* Font Sizes */
.footer-powered {
  font-size: 90% !important
}

.form-footer,
.form-footer a,
.form-footer h6 {
  font-size: 14px;
  font-weight: normal
}

small,
.small {
  font-size: 100%;
}

h1,
.h1 {
  font-size: 20px;
}

h4,
.h4 {
  font-size: 15px
}

h6.uppercase,
.h6.uppercase {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
}

.layout-side-section {
  font-size: 14px;
}

.list-sidebar .list-sidebar-label {
  color: #022152;
  font-size: 12px;
  font-weight: 600;
}

.dropdown-menu {
  font-size: 14px;
}

.layout-main-section {
  border: 1px solid #efefef;
}

.active-tag-filters {
  overflow: auto;
}

.dropdown-menu>li>a {
  font-weight: 500;
  color: #666;
}

.navbar a {
  font-size: 13px;
  font-weight: 500
}

.page-card {
  height: 275px;
  padding: 25px !important;
  border: 1px solid #ececec !important;
  box-shadow: none !important;
  border-radius: 4px !important
}

.page-card .page-card-head {
  border-bottom: none !important
}

.page-card .page-card-head .indicator {
  color: #022152 !important;
  font-size: 15px !important;
}

.indicator,
.indicator-right {
  font-weight: 500;
  font-size: 13px;
}

.control-label,
.grid-heading-row {
  font-size: 14px
}

.btn-sm,
.btn-group-sm>.btn {
  font-size: 13px
}

/*To hide the Help dropdown button */
.navbar-right .dropdown-help {
  display: none
}

.form-documents h6 {
  font-size: 14px;
  color: #022152
}

/* border-radius */
.form-signin .form-control {
  padding: 8px 6px !important;
  margin: 20px 0px 15px;
  border-radius: 4px;
  border: 1px solid #ececec
}


/* ==== MULAI BOOTSTRAP ==== */


a:hover,
a:focus {
  color: #022152;
  text-decoration: none !important;
}

.text-primary {
  color: #022152;
}

a.text-primary:hover {
  color: #0353A4;
}

.text-info {
  color: #0077B6;
}

a.text-info:hover {
  color: #0077B6;
}

.bg-primary {
  color: #fff;
  background-color: #022152;
}

a.bg-primary:hover {
  background-color: #0353A4;
}

.btn-primary {
  color: #fff;
  background-color: #022152;
  border-color: #006DAA;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open>.dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #0353A4;
  border-color: #006DAA;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #022152;
  border-color: #006DAA;
}

.btn-primary .badge {
  color: #022152;
  background-color: #fff;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #022152;
  border-color: #022152;
}

.label-info {
  background-color: #006DAA;
}

.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #0353A4;
}

.alert-info {
  color: #0077B6;
  background-color: rgba(255, 255, 255, .9);
  border-color: #0077B6;
}

.alert-info hr {
  border-top-color: #006DAA;
}

.alert-info .alert-link {
  color: #0077B6;
}

.progress-bar-info {
  background-color: #0077B6;
}

.list-group-item-info {
  color: #0077B6;
  background-color: transparent;
}

a.list-group-item-info {
  color: #0077B6;
}

a.list-group-item-info .list-group-item-heading {
  color: inherit;
}

a.list-group-item-info:hover,
a.list-group-item-info:focus {
  color: #0077B6;
  background-color: rgba(0, 0, 0, 0);
}

a.list-group-item-info.active,
a.list-group-item-info.active:hover,
a.list-group-item-info.active:focus {
  color: #fff;
  background-color: #0077B6;
  border-color: #0077B6;
}

.panel-primary {
  border-color: #022152;
}

.panel-primary>.panel-heading {
  color: #fff;
  background-color: #022152;
  border-color: #022152;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
  border-top-color: #022152;
}

.panel-primary>.panel-heading .badge {
  color: #022152;
  background-color: #fff;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
  border-bottom-color: #022152;
}

.panel-info>.panel-heading {
  color: #0077B6;
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0);
}

.panel-info>.panel-heading .badge {
  color: transparent;
  background-color: #0077B6;
}

/* ==== Calendar.css ==== */

.fc-unthemed .fc-today .fc-day-number {
  background-color: #022152;
  min-width: 20px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
}

.fc-event {
  border: 1px solid #006DAA;
  /* default BORDER color */
  background-color: #006DAA;
}

.fc-bg-blue {
  background-color: #D1D3FC !important;
  color: #002855 !important;
}

.fc-bg-blue.fc-start {
  border-left: 3px solid #002855 !important;
}

/* ==== Desk.css ==== */

.link-primary {
  color: #022152;
}

.link-primary:hover,
.link-primary:focus {
  color: #022152;
}

.datepicker--cell.-current- {
  color: #022152;
}

.datepicker--cell.-current-.-in-range- {
  color: #022152;
}

.datepicker--cell.-range-from-,
.datepicker--cell.-range-to- {
  border: 1px solid rgba(2, 33, 82, 0.3);
  /* 94, 100, 255 to 2, 33, 82*/
  background: rgba(2, 33, 82, 0.1);
}

.datepicker--cell.-selected-,
.datepicker--cell.-current-.-selected- {
  background: #022152;
}

.datepicker--cell.-in-range- {
  background: rgba(2, 33, 82, 0.05);
}

.datepicker--cell.-in-range-.-focus- {
  background: rgba(2, 33, 82, 0.1);
}

.datepicker--cell.-selected-.-focus- {
  background: rgba(2, 33, 82, 0.9);
}

.datepicker--button {
  color: #022152;
}

.help-modal a {
  color: #022152;
}

.slides-wrapper .fa-circle.active {
  color: #022152;
}

/* ==== Desktop.css ==== */
.help-message-wrapper .help-progress-bar {
  display: inline-block;
  height: 4px;
  background-color: #022152;
  float: left;
  border-radius: 2px;
}

/* ==== Docs.css ==== */
.hljs-number,
.hljs-date,
.hljs-regexp,
.hljs-literal,
.hljs-hexcolor,
.smalltalk .hljs-symbol,
.smalltalk .hljs-char,
.go .hljs-constant,
.hljs-change,
.lasso .hljs-variable,
.makefile .hljs-variable,
.asciidoc .hljs-bullet,
.markdown .hljs-bullet,
.asciidoc .hljs-link_url,
.markdown .hljs-link_url {
  color: #023E8A;
}

.dos .hljs-keyword,
.hljs-decorator,
.hljs-title,
.hljs-type,
.diff .hljs-header,
.ruby .hljs-class .hljs-parent,
.apache .hljs-tag,
.nginx .hljs-built_in,
.tex .hljs-command,
.hljs-prompt {
  color: #023E8A;
}

.breadcrumb a,
.breadcrumb a:hover,
.breadcrumb a:focus,
.breadcrumb a:visited {
  color: #023E8A;
  font-size: 16px;
}

.hero-and-content a,
.hero-and-content a:hover,
.hero-and-content a:focus,
.hero-and-content a:visited {
  color: #022152;
}

a.btn-primary {
  color: #023E8A;
}

a.btn-primary:hover,
a.btn-primary:focus,
a.btn-primary:visited {
  color: #023E8A;
}

#current td code {
  font-weight: normal;
  background: transparent;
  font-family: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
  color: #454e57;
  font-size: 16px;
}

/* ==== Email.css ==== */
.btn.btn-primary {
  color: #fff;
  background-color: #022152;
  border-color: #006DAA;
}

.indicator.indicator-blue {
  background-color: #022152;
}

.indicator.indicator-orange {
  background-color: #ffa00a;
}

/* ==== hljs-night-owl.css ==== */
.hljs-keyword {
  color: #c792ea;
  font-style: italic;
}

.hljs-emphasis {
  color: #c792ea;
  font-style: italic;
}

.hljs-formula {
  color: #c792ea;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #c792ea;
  font-style: italic;
}

.hljs-template-tag {
  color: #c792ea;
}

/* ==== HLJS.css ==== */
.hljs-label,
.hljs-javadoc,
.ruby .hljs-string,
.hljs-decorator,
.hljs-filter .hljs-argument,
.hljs-localvars,
.hljs-array,
.hljs-attr_selector,
.hljs-important,
.hljs-pseudo,
.hljs-pi,
.haml .hljs-bullet,
.hljs-doctype,
.hljs-deletion,
.hljs-envvar,
.hljs-shebang,
.apache .hljs-sqbracket,
.nginx .hljs-built_in,
.tex .hljs-formula,
.erlang_repl .hljs-reserved,
.hljs-prompt,
.asciidoc .hljs-link_label,
.markdown .hljs-link_label,
.vhdl .hljs-attribute,
.clojure .hljs-attribute,
.asciidoc .hljs-attribute,
.lasso .hljs-attribute,
.coffeescript .hljs-property,
.hljs-phony {
  color: #023E8A;
}

/* ==== indicator.css ==== */
.indicator.blue::before,
.indicator-right.blue::after {
  background: #022152;
}

.indicator.orange::before,
.indicator-right.orange::after {
  background: #ffa00a;
}

/* ==== page.css ==== */
.setup-wizard-slide .fa-fw.active {
  color: #022152;
}

.setup-wizard-slide .progress-bar {
  background-color: #022152;
}

/* ==== regrid.css ==== */
.data-table .edit-cell {
  border: 2px solid #002855;
}

.data-table .data-table-col.selected .content {
  border-color: #002855;
}

/* ==== tree.css ==== */
.tree-link.active i {
  color: #022152;
}

/* ==== website.css ==== */
.indicator.blue::before,
.indicator-right.blue::after {
  background: #022152;
}

.indicator.orange::before,
.indicator-right.orange::after {
  background: #ffa00a;
}

.badge-wrapper {
  display: inline-block;
  margin-left: 7px;
  margin-top: -3px;
  padding: 2px 7px;
  border: 1px solid #d1d8dd;
  border-radius: 3px;
  color: #023E8A;
  text-align: center;
}
